* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gradientes */

body {
  background: linear-gradient(to left, #f3f3, #f1f1f1);
}

.box {
  background-color: aqua;
  width: 250px;
  height: 250px;
  margin: 2rem;
  border: 5px solid blue;
  transform: translate(40px, 50px);
  transition: 03s;
}
